/* Centering the container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: #d5e1ef; /* Light gray background */
    margin: 0;
}
.attribution { 
    font-size: 11px; 
    text-align: center; }

/* Styling the container */
.container {
    background: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:16px;
    padding-bottom: 40px;
    border:1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px; /* Adjust width */
    height:499px;
}

/* Styling the QR code */
.qr-code {
    width: 288px;
    height: 288px;
}

/* Styling the text */
.text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    width:256px;
    height:52px;
}

.minitext{
    text-align: center;
    width:256px;
    height:63px;
}
